<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css    ">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/font/fontawesome-free-6.2.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body> 
    <div class="app">
        <div class="header">
            <div class="header__navbar-grid">

                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--separate header__navbar-item--has-qr">
                            Kênh người bán hàng
                            <div class="header_navbar-qr-code header_navbar-qr-code--square">
                                <img src="" alt="" class="qr-code">
                                <div class="qr-code_link">
                                    <a href="" class="qr-link">
                                        <img src="" alt="" class="qr-nav">
                                    </a>
                                    <a href="" class="qr-link">
                                        <img src="" alt="" class="qr-nav">
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="header__navbar-item">Kết nối
                            <a class="header__navbar-icon-link" href="">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a class="header__navbar-icon-link" href="">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="header__navbar-list ">
                        <li class="header__navbar-item header__navbar-list--notify ">
                                <a href="" class="header__navbar-item-link ">
                                    <i class="fa-solid fa-bell "></i>
                                    Thông báo
                                </a>
                            <div class="header__notify ">
                                <header class="header__notify-header">
                                    <h3>Thông Báo Mới Nhất</h3>
                                </header>
                                <ul class="header___notify-list">
                                    <li class="header__notify-item header__notify-item--viewed">
                                        <a href="" class="header__notify-link ">
                                            <span>
                                                <img src="/imgg/img/lipsleepmaskk.jpg" alt="" class="header__notify-img">
                                            </span>
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">
                                                    Mỹ phẩm Oshui chính hãng
                                                </span>
                                                <span class="header__notify-description">
                                                    Mô tả của Mĩ Phẩm chính hãng
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <span>
                                                <img src="/imgg/img/lipsleepmaskk.jpg" alt="" class="header__notify-img">
                                            </span>
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">
                                                    Mỹ phẩm Oshui chính hãng
                                                </span>
                                                <span class="header__notify-description">
                                                    Mô tả của Mĩ Phẩm chính hãng
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="header__notify-item">
                                        <a href="" class="header__notify-link">
                                            <span>
                                                <img src="/imgg/img/lipsleepmaskk.jpg" alt="" class="header__notify-img">
                                            </span>
                                            <div class="header__notify-info">
                                                <span class="header__notify-name">
                                                    Mỹ phẩm Oshui chính hãng
                                                </span>
                                                <span class="header__notify-description">
                                                    Mô tả của Mĩ Phẩm chính hãng
                                                </span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                <footer class="header__notify-footer">
                                    <a href="" class="header__notify-foooter-btn">Xem Tất Cả</a>
                                </footer>
                            </div>
                        </li>
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-item-link">
                                <i class="fa-solid fa-circle-question"></i>
                                Trợ giúp
                            </a>
                        </li>
                        <li class="header__navbar-item login {{a.active}} header__navbar-item--strong header__navbar-item--separate ">
                            <a href="/login" style="color: white;">Đăng nhập</a>
                            </li>
                        <li class="header__navbar-item login {{a.active}} header__navbar-item--strong ">
                            <a href="/login" style="color: white;">Đăng ký</a>
                        </li>
                        
                         <li class="header__navbar-item user {{a.active}} header__navbar-user--notify">
                            <div class="header__navbar-user">
                                <img src="/imgg/img/cat-product.jpg" alt="" class="header__navbaruser-img">
                                <span class="header__navbar-user-name">Jey Hoàng</span>
                            </div>
                            <ul class="header__navbar-user-list">
                                <li class="header__navbar-user-item">
                                    <a href="" class="">Tài khoản của tôi</a>
                                </li>
                                <li class="header__navbar-user-item">
                                    <a href="" class="">Địa chỉ của tôi</a>
                                </li>
                                <li class="header__navbar-user-item">
                                    <a href="" class="">Đơn mua</a>
                                </li>
                                <li class="header__navbar-user-item">
                                    <a href="" class="">Đăng xuất</a>
                                </li>
                            </ul>
                        </li> 
                    </ul>
                </nav>
            </div>

            <div class="header-with-search">
                    <img src="/img/logonhom.png" class="header-with-search_img" alt="">
                    
                    <div class="header-with-search_search">
                        <input type="text" class="header-with-search_input" placeholder="Tìm kiếm sản phẩm ">
                        <div style="position: relative;
                        height: 53px;
                        width: 53px;
                        background: #0070AE;
                        border-bottom-right-radius: 10px;
                        border-top-right-radius: 10px;">
                            <i class="header-with-search-icon fa-solid fa-magnifying-glass"></i>
                        </div>
                        
                    </div>
                    <div class="header__livestream">H3TP LIVESTREAM</div>
                    <div class="header__cart">
                        <div class="header__cart-wrap">
                            <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                            
                            <span class="header__card-notice">3</span>

                            <!-- No cart :header__card-list--no-cart -->
                            <div class="header__cart-list ">
                                <img src="/img/no-cart.png" alt="" class="header__no-cart-img">
                                <span class="header__no-cart-msg">Chưa có sản phẩm trong giỏ hàng</span>
                                



                                <h4 class="header__cart-list-header">
                                    Sản phẩm đã thêm
                                </h4>
                                <ul class="header__cart-list-item">
                                    {{#each cart}}
                                    <li class="header__cart-item">
                                        <img src="{{this.img}}" alt="" class="header__cart-img">
                                        <div class="header__cart-info">
                                            <div class="header__cart-head">
                                                <h4 class="header__cart-heading">{{this.name}}</h4>
                                                <div class="header__cart-total-wrap">
                                                    <span class="header__cart-price">{{this.price}}</span>
                                                    <span class="header__cart-mutiply">x</span>
                                                    <span class="header__cart-quantity">{{this.quantity}}</span>
                                                </div>
                                            </div>
                                            <div class="header__cart-body">
                                                <span class="header__cart-description">{{this.description}}</span>
                                                <a href="" class="header__cart-remove">Xóa</a>
                                            </div>
                                        </div>
                                    </li>
                                    {{/each }}

                                </ul>
                                <button class="header__cart-view-cart  btn btn--primary">
                                        Xem Giỏ Hàng
                                    </button>
                            </div>
                        </div>
                    </div>
            </div> 
        </div>
        <div class="advertising-wrapper">
            <div class="advertising">   
                    <img src="/img/bannerMain.jpg" class="advertising_img1"  alt="">
            </div>  
        </div>
        <div class="advertising-swiching-wrapper">
            <div class="advertising-swiching">
                <img src="/img/bannerAside1.jpg" alt="" class="advertising-swiching-img">
                <img src="/img/bannerAside2.jpg" alt="" class="advertising-swiching-img">
                <img src="/img/chrismas-banner1.jpg" alt="" class="advertising-swiching-img">
                <img src="/img/chrismas-banner2.jpg" alt="" class="advertising-swiching-img">
            </div>
            <i class="advertising-swiching__next-btn fa-solid fa-angle-right"></i>
            <i class="advertising-swiching__prev-btn fa-solid fa-angle-left"></i>
        </div>

        <!-- SERVICE-->
        <div class="service-bar-wrapper">
            <div class="service-bar">
                <div class="service-bar__column">
                    <div class="service-bar__item1">
                    </div>
                    <div class="service-bar__name">
                        Khung giờ săn sale
                    </div>
                </div>
    
                <div class="service-bar__column">
                    <div class="service-bar__item2">
                    </div>
                    <div class="service-bar__name">
                        Miễn phí vận chuyển
                    </div>
                </div>
    
                <div class="service-bar__column">
                    <div class="service-bar__item3">
                    </div>
                    <div class="service-bar__name">
                        Hàng hiệu giá rẻ
                    </div>
                </div>
    
                <div class="service-bar__column">
                    <div class="service-bar__item4">
                    </div>
                    <div class="service-bar__name">
                        Quà tặng
                    </div>
                </div>
    
                <div class="service-bar__column">
                    <div class="service-bar__item5">
                    </div>
                    <div class="service-bar__name">
                        Nạp thẻ&dịch vụ
                    </div>
                </div>
                
            </div>
        </div>

        
        <div class="product-type__heading">
            DANH MỤC SẢN PHẨM
        </div>
        <!-- product-type -->
        <div class="product-type__wrapper-all">
            <i class="fa-solid fa-chevron-right" style="    font-size: 50px;
            top: 186px;
            right: 43px;
            background: #ddddd;
            position: absolute;"></i>
            <div class="product-type">
                <div class="product-type__container">
                    <div class="grid__row product-type__container-wrapper">
                        
                        <div class="grid__column-6 ">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList1.png" alt="">
                                </div>
                                <div class="product-type__name">
                                    Thời trang nam
                                </div>
                            </div>
                        </div>
    
    
                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList2.png" alt="">
                                </div>
                                <div class="product-type__name">
                                    Điện thoại&phụ kiện
                                </div>
                            </div>
                        </div>
    
                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList3.png" alt="">
                                </div>
                                <div class="product-type__name">
                                    Thiết bị điện tử
                                </div>
                            </div>
                        </div>
    
                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList4.png" alt="" style="    margin-top: 20px;">
                                </div>
                                <div class="product-type__name">
                                    Thiết bị điện tử
                                </div>
                            </div>
                        </div>
    
                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList5.png" alt="" style="    margin-top: 34px;">
                                </div>
                                <div class="product-type__name">
                                    Máy quay&máy quay phim
                                </div>
                            </div>
                        </div>
    
                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList6.png" alt="" style="    margin-top: 10px;">
                                </div>
                                <div class="product-type__name">
                                    Đồng hồ
                                </div>
                            </div>
                        </div>
    
                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList7.png" alt="" style="    margin-top: 10px;">
                                </div>
                                <div class="product-type__name">
                                    Thời trang nữ
                                </div>
                            </div>
                        </div>
    
                        
    
                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList8.png" alt="" style="    margin-top: 20px;">
                                </div>
                                <div class="product-type__name">
                                    Mẹ&bé
                                </div>
                            </div>
                        </div>
    
                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList9.png" alt="">
                                </div>
                                <div class="product-type__name">
                                    Nhà cửa&đời sống
                                </div>
                            </div>
                        </div>

                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList10.png" alt="" style="    margin-top: 20px;">
                                </div>
                                <div class="product-type__name">
                                    Làm đẹp
                                </div>
                            </div>
                        </div>

                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList11.png" alt="" style="    margin-top: 20px;">
                                </div>
                                <div class="product-type__name">
                                    Sức khỏe
                                </div>
                            </div>
                        </div>

                        <div class="grid__column-6">
                            <div class="product-type__link">
                                <div class="product-type__item">
                                    <img src="/img/productList12.png" alt="" style="    margin-top: 20px;">
                                </div>
                                <div class="product-type__name">
                                    Giày dép nữ
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>

        <!-- HOT SALE -->
        <div class="hot-sale__heading">
            TÌM KIẾM HÀNG ĐẦU
            <p class="see-more">
                Xem tất cả
            </p>
        </div>
        <div class="product-hot-sale-wrapper">
            <div class="product-hot-sale">
                <div class="hot-sale__container">
                    <div class="grid__row" style="justify-content: space-between;">
                        <div class="grid__column-2-4">
                            <div class="hot-sale__item">
                                <div class="hot-sale__item-display">
                                    <img src="/img/topsearch1.png" class="hot-sale__item-img" alt="">
                                    <div class="hot-sale__item-name">
                                        Lenovo Legion 5 11th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Gaming Laptop
                                    </div>
                                    <div class="hot-sale__item-price">
                                        <div class="hot-sale__item-price-new">
                                           25.000.000 VND
                                        </div>
                                        <div class="hot-sale__item-price-origin">
                                            28.000.000 VND
                                        </div>
                                    </div>
                                </div>
                                <div class="hot-sale__item-imgs">
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/topsearch2.png" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/topsearch3.png" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/topsearch4.png" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                </div>
            
                            </div>
                        </div>
    
                        <div class="grid__column-2-4">
                            <div class="hot-sale__item">
                                <div class="hot-sale__item-display">
                                    <img src="/img/cat_milk1.jpg" class="hot-sale__item-img" alt="">
                                    <div class="hot-sale__item-name">
                                        Sữa mều giúp mèo lớn nhanh như Thánh Gióng
                                    </div>
                                    <div class="hot-sale__item-price">
                                        <div class="hot-sale__item-price-new">
                                            8.999 VND
                                        </div>
                                        <div class="hot-sale__item-price-origin">
                                            10.000 VND
                                        </div>
                                    </div>
                                </div>
                                <div class="hot-sale__item-imgs">
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/cat_milk2.jfif" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/cat_milk3.webp" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/cat_milk4.png" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                </div>
            
                            </div>
                        </div>
    
                        <div class="grid__column-2-4">
                            <div class="hot-sale__item">
                                <div class="hot-sale__item-display">
                                    <img src="/img/topsearch1.png" class="hot-sale__item-img" alt="">
                                    <div class="hot-sale__item-name">
                                        Lenovo Legion 5 11th Gen Intel Core i7 15.6"(39.62cm) FHD IPS Gaming Laptop
                                    </div>
                                    <div class="hot-sale__item-price">
                                        <div class="hot-sale__item-price-new">
                                           25.000.000 VND
                                        </div>
                                        <div class="hot-sale__item-price-origin">
                                            28.000.000 VND
                                        </div>
                                    </div>
                                </div>
                                <div class="hot-sale__item-imgs">
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/topsearch2.png" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/topsearch3.png" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/topsearch4.png" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                </div>
            
                            </div>
                        </div>
    
                        <div class="grid__column-2-4">
                            <div class="hot-sale__item">
                                <div class="hot-sale__item-display">
                                    <img src="/img/cat_milk1.jpg" class="hot-sale__item-img" alt="">
                                    <div class="hot-sale__item-name">
                                        Sữa mều giúp mèo lớn nhanh như Thánh Gióng
                                    </div>
                                    <div class="hot-sale__item-price">
                                        <div class="hot-sale__item-price-new">
                                            8.999 VND
                                        </div>
                                        <div class="hot-sale__item-price-origin">
                                            10.000 VND
                                        </div>
                                    </div>
                                </div>
                                <div class="hot-sale__item-imgs">
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/cat_milk2.jfif" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/cat_milk3.webp" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                    <div class="hot-sale__item-imgs-grid">
                                        <img src="/img/cat_milk4.png" class="hot-sale__item-imgs-img" alt="">
                                    </div>
                                </div>
            
                            </div>
                        </div>
    
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="mall-brand__heading">
            MALL BRAND
        </div>
        <!-- MALL BRAND -->
        <div class="mall-brand">
            <div class="mall-brand__grid">
                <div class="mall-brand__column35">
                    <div class="mall-brand__carousel">
                        <img src="/img/mallbrandingMain.jpg" alt="" class="mall-brand__carousel-img">
                        <img src="/img/mall2.png" alt="" class="mall-brand__carousel-img">
                        <img src="/img/mall3.jpg" alt="" class="mall-brand__carousel-img">
                        <img src="/img/mall4.png" alt="" class="mall-brand__carousel-img">
                    </div>
                <i class="mall-brand__next-btn fa-solid fa-angle-right"></i>
                <i class="mall-brand__prev-btn fa-solid fa-angle-left"></i>
                <i class="mall-brand__dot-btn fa-solid fa-window-minimize active" ></i>
                <i class="mall-brand__dot-btn fa-solid fa-window-minimize" style="left: 45%;"></i>
                <i class="mall-brand__dot-btn fa-solid fa-window-minimize" style="left: 52%;"></i>
                <i class="mall-brand__dot-btn fa-solid fa-window-minimize" style="left: 59%;"></i>
                </div>
                <div class="mall-brand__columnn65">
                    <div class="mall-brand__brand-column30">
                        <img src="/img/brand-img1.png" alt="" class="mall-brand__brand-img">
                        <p style="position: absolute;
                        bottom: 9px;
                        color: #AE0000;
                        font-size: 20px;
                        left: 30%;
                    ">Mua 1 tặng 2</p>
                    </div>
                    <div class="mall-brand__brand-column30">
                        <img src="/img/brand-img1.png" alt="" class="mall-brand__brand-img">
                        <p style="position: absolute;
                        bottom: 9px;
                        color: #AE0000;
                        font-size: 20px;
                        left: 30%;
                    ">Mua 1 tặng 2</p>
                    </div>
                    <div class="mall-brand__brand-column30">
                        <img src="/img/brand-img1.png" alt="" class="mall-brand__brand-img">
                        <p style="position: absolute;
                        bottom: 9px;
                        color: #AE0000;
                        font-size: 20px;
                        left: 30%;
                    ">Mua 1 tặng 2</p>
                    </div>
                    <div class="mall-brand__brand-column30">
                        <img src="/img/brand-img1.png" alt="" class="mall-brand__brand-img">
                        <p style="position: absolute;
                        bottom: 9px;
                        color: #AE0000;
                        font-size: 20px;
                        left: 30%;
                    ">Mua 1 tặng 2</p>
                    </div>
                    <div class="mall-brand__brand-column30">
                        <img src="/img/brand-img1.png" alt="" class="mall-brand__brand-img">
                        <p style="position: absolute;
                        bottom: 9px;
                        color: #AE0000;
                        font-size: 20px;
                        left: 30%;
                    ">Mua 1 tặng 2</p>
                    </div>
                    
                    
                    <div class="mall-brand__brand-column30" style="margin-top: 60px;
                    font-size: 14px;
                    color: #FBB72C;
                    cursor: pointer;
                    padding-left: 70px;">
                        <p class="mall-brand__brand-see-more">Xem tất cả</p>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- FLASH SALE -->
        <div class="flash-sale">
            <div class="flash-sale__heading">
            </div>
            <div class="flash-sale__timer">
                Ending in : 0 : 2 : 59
            </div>
            <div class="flash-sale__grid">
                <div class="flash-sale__column5">
                    <div class="flash-sale__item">
                        <div class="flash-sale__item-img">
                            
                        </div>
                        <div class="flash-sale__item-name">
                            Miến dong Cao Bằng
                        </div>
                        <div class="flash-sale__item-price">
                            <div class="flash-sale__item-new-price">
                                45.999đ
                            </div>
                            <div class="flash-sale__item-origin-price">
                                60.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flash-sale__column5">
                    <div class="flash-sale__item">
                        <div class="flash-sale__item-img">
                            
                        </div>
                        <div class="flash-sale__item-name">
                            Miến dong Cao Bằng
                        </div>
                        <div class="flash-sale__item-price">
                            <div class="flash-sale__item-new-price">
                                45.999đ
                            </div>
                            <div class="flash-sale__item-origin-price">
                                60.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flash-sale__column5">
                    <div class="flash-sale__item">
                        <div class="flash-sale__item-img">
                            
                        </div>
                        <div class="flash-sale__item-name">
                            Miến dong Cao Bằng
                        </div>
                        <div class="flash-sale__item-price">
                            <div class="flash-sale__item-new-price">
                                45.999đ
                            </div>
                            <div class="flash-sale__item-origin-price">
                                60.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flash-sale__column5">
                    <div class="flash-sale__item">
                        <div class="flash-sale__item-img">
                            
                        </div>
                        <div class="flash-sale__item-name">
                            Miến dong Cao Bằng
                        </div>
                        <div class="flash-sale__item-price">
                            <div class="flash-sale__item-new-price">
                                45.999đ
                            </div>
                            <div class="flash-sale__item-origin-price">
                                60.000đ
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flash-sale__column5">
                    <div class="flash-sale__item">
                        <div class="flash-sale__item-img">
                            
                        </div>
                        <div class="flash-sale__item-name">
                            Miến dong Cao Bằng
                        </div>
                        <div class="flash-sale__item-price">
                            <div class="flash-sale__item-new-price">
                                45.999đ
                            </div>
                            <div class="flash-sale__item-origin-price">
                                60.000đ
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="home-product__heading">
            GỢI Ý MUA SẮM
            <div class="see-more" style="right: 96px;">Xem tất cả</div>
        </div>
        <div class="app__container">
            <div class="grid">
                <div class="grid__row app__content">
                    <!-- <div class="grid__column-2">
                        <nav class="catagory">
                            <h3 class="catagory__heading">
                                <i class="fa-solid fa-list catagory__heading-icon"></i>
                                Danh Mục
                            </h3>
                            <ul class="catagory__list">
                                <li class="catagory__item catagory__item--active">
                                    <a href="" class="catagory__item-link ">Meof England</a>
                                </li>
                                <li class="catagory__item">
                                    <a href="" class="catagory__item-link">Meof VietNam</a>
                                </li>
                                <li class="catagory__item">
                                    <a href="" class="catagory__item-link">Meof Japan</a>
                                </li>
                            </ul>
                        </nav>
                    </div> -->


                    <!-- FILTER -->
                    <!-- <div class="grid__full-width">
                        <div class="home-filter">
                            <span class="home-filter__label">Sắp xếp theo</span>
                            <button class="home-filter-btn btn">Phổ biến</button>
                            <button class="home-filter-btn btn btn--primary">Mới nhất</button>
                            <button class="home-filter-btn btn">Bán chạy</button>

                            <div class="select-input">
                                <span class="select-input__label">Giá</span>
                                <i class="select-input__label-icon fas fa-angle-down"></i>
                                LIST OPTIONS
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a href="" class="select-input__link">Giá: Thấp đến cao</a>
                                    </li>
                                    <li class="select-input__item">
                                        <a href="" class="select-input__link">Giá: Cao đến thấp</a>
                                    </li>
                                </ul>
                            </div>
                            


                            <div class="home-filter__page">
                                <div class="home-filer__page-num">
                                    <span class="home-filer__page-current">1</span>
                                    /14
                                </div>
                                <div class="home-filter__page-control">
                                    <a href="" class="home-filter__page-btn home-filter__page-btn--disable">
                                        <i class="home-filter__page-btn-icon fas fa-angle-left"></i>
                                    </a>
                                    <a href="" class="home-filter__page-btn">
                                        <i class="home-filter__page-btn-icon fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>


                        </div> -->

                        <!-- HOME PRODUCT -->
                        <div class="home-product">
                            <div class="home-product">
                                <div class="grid__row">
                                    <div class="grid__column-2-4-new">
                                        <a class="home-product-item" href="/product/6392e671a70d3a87b4343988?">
                                            <div class="product-card">
                                                <div class="badge">Hot</div>
                                                <div class="product-tumb">
                                                  <img src="/img/productweb.jpeg" alt="">
                                                </div>
                                                <div class="product-details">
                                                  <span class="product-catagory">Thực phẩm</span>
                                                  <h4><a href="">MIẾN DONG CAO BẰNG THƯƠNG HIỆU PHAN HOÀNG</a></h4>
                                                  <p>Miến dong Cao Bằng thương hiệu "Phan Hoàng" được sản xuất và phân phối bởi công ty TNHH sản xuất và thương mại Phan Hoàng. sản phẩm được sản xuất từ 100% bột dong giềng đỏ nguyên chất, cây dong giềng đỏ</p>
                                                  <div class="product-bottom-details">
                                                    <div class="product-price"> 60.000đ</div>
                                                    <div class="product-links">
                                                      <a href=""><i class="fa fa-heart"></i></a>
                                                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>    
                                    <div class="grid__column-2-4-new">
                                        <a class="home-product-item" href="/product/6392e671a70d3a87b4343988?">
                                            <div class="product-card">
                                                <div class="badge">Hot</div>
                                                <div class="product-tumb">
                                                  <img src="/img/productweb.jpeg" alt="">
                                                </div>
                                                <div class="product-details">
                                                  <span class="product-catagory">Thực phẩm</span>
                                                  <h4><a href="">MIẾN DONG CAO BẰNG THƯƠNG HIỆU PHAN HOÀNG</a></h4>
                                                  <p>Miến dong Cao Bằng thương hiệu "Phan Hoàng" được sản xuất và phân phối bởi công ty TNHH sản xuất và thương mại Phan Hoàng. sản phẩm được sản xuất từ 100% bột dong giềng đỏ nguyên chất, cây dong giềng đỏ</p>
                                                  <div class="product-bottom-details">
                                                    <div class="product-price"> 60.000đ</div>
                                                    <div class="product-links">
                                                      <a href=""><i class="fa fa-heart"></i></a>
                                                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>    
                                    <div class="grid__column-2-4-new">
                                        <a class="home-product-item" href="#">
                                            <div class="product-card">
                                                <div class="badge">Hot</div>
                                                <div class="product-tumb">
                                                  <img src="/img/productweb.jpeg" alt="">
                                                </div>
                                                <div class="product-details">
                                                  <span class="product-catagory">Thực phẩm</span>
                                                  <h4><a href="">MIẾN DONG CAO BẰNG THƯƠNG HIỆU PHAN HOÀNG</a></h4>
                                                  <p>Miến dong Cao Bằng thương hiệu "Phan Hoàng" được sản xuất và phân phối bởi công ty TNHH sản xuất và thương mại Phan Hoàng. sản phẩm được sản xuất từ 100% bột dong giềng đỏ nguyên chất, cây dong giềng đỏ</p>
                                                  <div class="product-bottom-details">
                                                    <div class="product-price"> 60.000đ</div>
                                                    <div class="product-links">
                                                      <a href=""><i class="fa fa-heart"></i></a>
                                                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>    
                                    <div class="grid__column-2-4-new">
                                        <a class="home-product-item" href="#">
                                            <div class="product-card">
                                                <div class="badge">Hot</div>
                                                <div class="product-tumb">
                                                  <img src="/img/productweb.jpeg" alt="">
                                                </div>
                                                <div class="product-details">
                                                  <span class="product-catagory">Thực phẩm</span>
                                                  <h4><a href="">MIẾN DONG CAO BẰNG THƯƠNG HIỆU PHAN HOÀNG</a></h4>
                                                  <p>Miến dong Cao Bằng thương hiệu "Phan Hoàng" được sản xuất và phân phối bởi công ty TNHH sản xuất và thương mại Phan Hoàng. sản phẩm được sản xuất từ 100% bột dong giềng đỏ nguyên chất, cây dong giềng đỏ</p>
                                                  <div class="product-bottom-details">
                                                    <div class="product-price"> 60.000đ</div>
                                                    <div class="product-links">
                                                      <a href=""><i class="fa fa-heart"></i></a>
                                                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>    
                                    <div class="grid__column-2-4-new">
                                        <a class="home-product-item" href="#">
                                            <div class="product-card">
                                                <div class="badge">Hot</div>
                                                <div class="product-tumb">
                                                  <img src="/img/productweb.jpeg" alt="">
                                                </div>
                                                <div class="product-details">
                                                  <span class="product-catagory">Thực phẩm</span>
                                                  <h4><a href="">MIẾN DONG CAO BẰNG THƯƠNG HIỆU PHAN HOÀNG</a></h4>
                                                  <p>Miến dong Cao Bằng thương hiệu "Phan Hoàng" được sản xuất và phân phối bởi công ty TNHH sản xuất và thương mại Phan Hoàng. sản phẩm được sản xuất từ 100% bột dong giềng đỏ nguyên chất, cây dong giềng đỏ</p>
                                                  <div class="product-bottom-details">
                                                    <div class="product-price"> 60.000đ</div>
                                                    <div class="product-links">
                                                      <a href=""><i class="fa fa-heart"></i></a>
                                                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>    
                                    <div class="grid__column-2-4-new">
                                        <a class="home-product-item" href="#">
                                            <div class="product-card">
                                                <div class="badge">Hot</div>
                                                <div class="product-tumb">
                                                  <img src="/img/productweb.jpeg" alt="">
                                                </div>
                                                <div class="product-details">
                                                  <span class="product-catagory">Thực phẩm</span>
                                                  <h4><a href="">MIẾN DONG CAO BẰNG THƯƠNG HIỆU PHAN HOÀNG</a></h4>
                                                  <p>Miến dong Cao Bằng thương hiệu "Phan Hoàng" được sản xuất và phân phối bởi công ty TNHH sản xuất và thương mại Phan Hoàng. sản phẩm được sản xuất từ 100% bột dong giềng đỏ nguyên chất, cây dong giềng đỏ</p>
                                                  <div class="product-bottom-details">
                                                    <div class="product-price"> 60.000đ</div>
                                                    <div class="product-links">
                                                      <a href=""><i class="fa fa-heart"></i></a>
                                                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>    
                                    <div class="grid__column-2-4-new">
                                        <a class="home-product-item" href="#">
                                            <div class="product-card">
                                                <div class="badge">Hot</div>
                                                <div class="product-tumb">
                                                  <img src="/img/productweb.jpeg" alt="">
                                                </div>
                                                <div class="product-details">
                                                  <span class="product-catagory">Thực phẩm</span>
                                                  <h4><a href="">MIẾN DONG CAO BẰNG THƯƠNG HIỆU PHAN HOÀNG</a></h4>
                                                  <p>Miến dong Cao Bằng thương hiệu "Phan Hoàng" được sản xuất và phân phối bởi công ty TNHH sản xuất và thương mại Phan Hoàng. sản phẩm được sản xuất từ 100% bột dong giềng đỏ nguyên chất, cây dong giềng đỏ</p>
                                                  <div class="product-bottom-details">
                                                    <div class="product-price"> 60.000đ</div>
                                                    <div class="product-links">
                                                      <a href=""><i class="fa fa-heart"></i></a>
                                                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>    
                                    <div class="grid__column-2-4-new">
                                        <a class="home-product-item" href="#">
                                            <div class="product-card">
                                                <div class="badge">Hot</div>
                                                <div class="product-tumb">
                                                  <img src="/img/productweb.jpeg" alt="">
                                                </div>
                                                <div class="product-details">
                                                  <span class="product-catagory">Thực phẩm</span>
                                                  <h4><a href="">MIẾN DONG CAO BẰNG THƯƠNG HIỆU PHAN HOÀNG</a></h4>
                                                  <p>Miến dong Cao Bằng thương hiệu "Phan Hoàng" được sản xuất và phân phối bởi công ty TNHH sản xuất và thương mại Phan Hoàng. sản phẩm được sản xuất từ 100% bột dong giềng đỏ nguyên chất, cây dong giềng đỏ</p>
                                                  <div class="product-bottom-details">
                                                    <div class="product-price"> 60.000đ</div>
                                                    <div class="product-links">
                                                      <a href=""><i class="fa fa-heart"></i></a>
                                                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>    
                                    <div class="grid__column-2-4-new">
                                        <a class="home-product-item" href="#">
                                            <div class="product-card">
                                                <div class="badge">Hot</div>
                                                <div class="product-tumb">
                                                  <img src="/img/productweb.jpeg" alt="">
                                                </div>
                                                <div class="product-details">
                                                  <span class="product-catagory">Thực phẩm</span>
                                                  <h4><a href="">MIẾN DONG CAO BẰNG THƯƠNG HIỆU PHAN HOÀNG</a></h4>
                                                  <p>Miến dong Cao Bằng thương hiệu "Phan Hoàng" được sản xuất và phân phối bởi công ty TNHH sản xuất và thương mại Phan Hoàng. sản phẩm được sản xuất từ 100% bột dong giềng đỏ nguyên chất, cây dong giềng đỏ</p>
                                                  <div class="product-bottom-details">
                                                    <div class="product-price"> 60.000đ</div>
                                                    <div class="product-links">
                                                      <a href=""><i class="fa fa-heart"></i></a>
                                                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>    
                                    <div class="grid__column-2-4-new">
                                        <a class="home-product-item" href="#">
                                            <div class="product-card">
                                                <div class="badge">Hot</div>
                                                <div class="product-tumb">
                                                  <img src="/img/productweb.jpeg" alt="">
                                                </div>
                                                <div class="product-details">
                                                  <span class="product-catagory">Thực phẩm</span>
                                                  <h4><a href="">MIẾN DONG CAO BẰNG THƯƠNG HIỆU PHAN HOÀNG</a></h4>
                                                  <p>Miến dong Cao Bằng thương hiệu "Phan Hoàng" được sản xuất và phân phối bởi công ty TNHH sản xuất và thương mại Phan Hoàng. sản phẩm được sản xuất từ 100% bột dong giềng đỏ nguyên chất, cây dong giềng đỏ</p>
                                                  <div class="product-bottom-details">
                                                    <div class="product-price"> 60.000đ</div>
                                                    <div class="product-links">
                                                      <a href=""><i class="fa fa-heart"></i></a>
                                                      <a href=""><i class="fa fa-shopping-cart"></i></a>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>    
    
                                   
                                    
                                </div>
                            </div>   
                                
                            
                        </div>


                    </div>
                </div>
                <ul class="home-product-pagination pagination">
                    <li class="pagination__item">
                        <a href="" class="pagination__item-link">
                            <i class="home-filter__page-btn-icon fas fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="pagination__item ">
                        <a href="/product" class="pagination__item-link pagination__item--active">1</a>
                    </li>
                    <li class="pagination__item">
                        <a href="/product" class="pagination__item-link">2</a>
                    </li>
                    <li class="pagination__item">
                        <a href="/product" class="pagination__item-link">3</a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__item-link">4</a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__item-link">5</a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__item-link">...</a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__item-link">14</a>
                    </li>
                    <li class="pagination__item">
                        <a href="" class="pagination__item-link">
                            <i class="home-filter__page-btn-icon fas fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <footer class="footer">
            <div class="grid">
                <div class="grid__row" style="justify-content:space-between ;">
                    <div class="footer_grid_column">
                        <img src="/img/footer-logo.png" alt="" class="footer-img">
                    </div>
                    
                    <div class="footer_grid_column">
                        <div class="footer__contact">
                            <span class="footer__contact-heading">
                                Subsribe to our newsletter and be the first to know about our updates
                            </span>
                            <div class="footer__contact-email">
                                <input type="text" placeholder="Email Address" class="footer__contact-email-input">
                                <p style="color: #4A99D3;
                                background: white;
                                padding: 10px 32px;
                                font-weight: 900;
                                border-radius: 6px;
                                margin-left: 20px;
                                line-height: 30px;cursor: pointer;">Subsribe</p>
                            </div>
                            <div class="footer__contact-dowload">
                                <img src="/imgg/img/googleplay.png" alt="" style="    width: 196px;
                                height: 62px;cursor: pointer;">
                                <img src="/imgg/img/appstore.png" alt="" style="    width: 196px;
                                height: 62px;cursor: pointer;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- REGISTER FORM -->  
     <div class="modal js-modalR"> 
        <div class="modal__overlay">

        </div>
        <div class="modal__body">

            <div class="modal__container js-modalR-container"> 

                <!-- Authen Form -->
                 <div class="auth-form">
                    <div class="auth-form__header"> 
                        <h3 class="auth-form__heading">Đăng ký</h3>
                        <span class="auth-form__switch-btn js-modalR-switch">Đăng nhập</span>
                    </div>
                </div>
    
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" id="js-register-email" class="auth-form__input" placeholder="Email của bạn"></input>
                    </div>
                    <div class="auth-form__group">
                        <input type="password" id="js-register-password" class="auth-form__input" placeholder="Mật khẩu"></input>
                    </div>
                    <div class="auth-form__group">
                        <input type="password" id="js-register-repassword" class="auth-form__input" placeholder="Nhập lại mật khẩu"></input>
                    </div>
                </div>
    
    
                <div class="auth-form__controls">
                    <button class="btn btn--normal">TRỞ LẠI</button>
                    <button class="btn btn--primary js-register" >ĐĂNG KÝ</button>
                </div>
            </div>

            <div class="auth-form__socials">
                <a href="" class="auth-form__socials-icon--facebook btn btn--size-s btn--with-icon">
                    <i class="fab fa-facebook-square icon auth-form__socials-icon"></i>
                    <span class="auth-form__socials-title">Kết nối với Facebook</span>
                </a>
                <a href="" class="auth-form__socials-icon--google btn btn--size-s btn--with-icon">
                    <i class="fab fa-google auth-form__socials-icon"></i>
                    <span class="auth-form__socials-title">Kết nối với Google</span>
                </a>
            </div>
        </div> 
    </div>
    <!-- LOGIN FORM -->
    <div class="modal js-modalL">
        <div class="modal__overlay"></div>
        <div class="modal__body">

            <div class="modal__container js-modalL-container">

                <!-- Authen Form -->
                <div class="auth-form">
                    <div class="auth-form__header">
                        <h3 class="auth-form__heading">Đăng Nhập</h3>
                        <span class="auth-form__switch-btn js-modalL-switch">Đăng ký</span>
                    </div>
                </div>
    
                <div class="auth-form__form">
                    <div class="auth-form__group">
                        <input type="text" id="js-login-email" class="auth-form__input" placeholder="Email của bạn"></input>
                    </div>
                    <div class="auth-form__group">
                        <input type="password" id="js-login-password" class="auth-form__input" placeholder="Mật khẩu"></input>
                    </div>  
                </div>
    
                <div class="auth-form__aside">
                    <div class="auth-form__help">
                        <a href="" class="auth-form__help-link auth-form__help-link--forgot">Quên mật khẩu</a>
                        <span class="auth-form__help-link--seperate"></span>
                        <a href="" class="auth-form__help-link">Cần trợ giúp ?</a>
                    </div>
                </div>
    
                <div class="auth-form__controls">
                    <button class="btn btn--normal">TRỞ LẠI</button>
                    <button class="btn btn--primary js-login">ĐĂNG NHẬP</button>
                </div>
            </div>

            <div class="auth-form__socials">
                <a href="" class="auth-form__socials-icon--facebook btn btn--size-s btn--with-icon">
                    <i class="fab fa-facebook-square icon auth-form__socials-icon"></i>
                    <span class="auth-form__socials-title">Kết nối với Facebook</span>
                </a>
                <a href="" class="auth-form__socials-icon--google btn btn--size-s btn--with-icon">
                    <i class="fab fa-google auth-form__socials-icon"></i>
                    <span class="auth-form__socials-title">Kết nối với Google</span>
                </a>
            </div>
        </div>
    </div>
</body>
</html>


    <script src="/js/web_js.js"></script>